<div class="container">
    <div class="row">
        {{#each images}}
        <div class="col xl4">
            <div class="wrap-img">
                <a href="/users/photo/{{this._id}} "><img class="gallery__img img" src="/{{this.photoImage}}" alt="pic"
                        data-description=" {{this.description}} " data-author="{{this.author}}"></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>