<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header id="header" class="header">
    <div class="container">
      <div class="row">
        <a href="/" class="nav__logo col xl2 offset-xl1">
          PhotoBase
        </a>
        {{#if user}}
        <div class="wrap col xl4 offset-xl4">
          <a class="nav__link center-align col xl6" href="/users/profile">Profile</a>
          <a class="nav__link center-align col xl6" href="/users/logout">LogOut</a>
        </div>

        {{else}}
        <div class="wrap col xl4 offset-xl4">
          <a class="nav__link center-align col xl6" href="/users/reg">Registration</a>
          <a class="nav__link center-align col xl6" href="/users/login">Login</a>
        </div>
        {{/if}}
      </div>
    </div>
  </header>

  <div class="container-body">
    {{{body}}}
  </div>



  <footer class="footer" id="footer">
    <div>Тут будет подвал(Но это не точно)</div>
  </footer>
  <script src="/javascripts/main.js"></script>
</body>

</html>