<div class="container">
    <div class="wrap-login">
        <div class="form__header">Login</div>
        <form action="/users/login" method="post">
            <div>
                <input class="bg-dark" type="text" placeholder="name" name="username" />
            </div>
            <div>
                <input class="bg-dark" type="password" placeholder="password" name="password" />
            </div>
            <div>
                <input class="waves-effect waves-light btn-small" type="submit" value="Log In" />
            </div>
        </form>
        {{#if status}}
        <div class="status"> {{status}} </div>
        {{/if}}
    </div>
</div>